<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ey.piit.sdo.price.repository.MaterialPriceDao">

	<resultMap id="baseResultMap" type="com.ey.piit.sdo.price.vo.MaterialPriceVo" >
	
			<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="wlbh" property="wlbh" jdbcType="VARCHAR" />
		<result column="dj" property="dj" jdbcType="DECIMAL" />
		<result column="dj_usd" property="djUsd" jdbcType="DECIMAL" />
		<result column="dj_hkd" property="djHkd" jdbcType="DECIMAL" />
		<result column="gxsj" property="gxsj" jdbcType="TIMESTAMP" />
		<result column="sjc" property="sjc" jdbcType="VARCHAR" />

	</resultMap>
    
	<sql id="baseColumnList">
		a.id AS "id",
		a.wlbh AS "wlbh",
		a.dj AS "dj",
		a.dj_usd AS "djUsd",
		a.dj_hkd AS "djHkd",
		a.gxsj AS "gxsj",
		a.sjc AS "sjc"
	</sql>
	
	<sql id="columnJoins">
	</sql>
    
	<select id="selectById" resultMap="baseResultMap">
		SELECT 
			<include refid="baseColumnList"/>
		FROM t_material_price a
		<include refid="columnJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="select" resultMap="baseResultMap">
		SELECT 
			<include refid="baseColumnList"/>
		FROM t_material_price a
		<include refid="columnJoins"/>
		<where>
			<if test="wlbh != null and wlbh != ''">
				AND a.wlbh = #{wlbh}
			</if>
			<if test="gxsj != null and gxsj != ''">
				AND a.gxsj = #{gxsj}
			</if>
		</where>
	</select>
	
	<insert id="insert">
		INSERT INTO t_material_price(
			id,
			wlbh,
			dj,
			dj_usd,
			dj_hkd,
			gxsj,
			sjc
		) VALUES (
			#{id},
			#{wlbh},
			#{dj},
			#{djUsd},
			#{djHkd},
			#{gxsj},
			#{sjc}
		)
	</insert>
	
	<update id="update">
		UPDATE t_material_price
		<set>
            <if test="wlbh != null" >
				wlbh = #{wlbh},
			</if>
            <if test="dj != null" >
				dj = #{dj},
			</if>
            <if test="djUsd != null" >
				dj_usd = #{djUsd},
			</if>
            <if test="djHkd != null" >
				dj_hkd = #{djHkd},
			</if>
            <if test="gxsj != null" >
				gxsj = #{gxsj},
			</if>
            <if test="sjc != null" >
				sjc = #{sjc},
			</if>
        </set>
		WHERE id = #{id}
	</update>
	
	<delete id="delete">
		DELETE FROM t_material_price
		WHERE id = #{id}
	</delete>
	<!-- 同步物料价格主数据 -->
	<update id="callTbwljg" parameterType="Map" statementType="CALLABLE">
		{call PKG_SAP.P_MATERIAL_PRICE}
	</update>
	<!--===============================================自动生成分隔线===============================================-->
	
</mapper>