<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ey.piit.sdo.price.repository.SkdPriceAdjustItemDao">


	<resultMap id="baseResultMap" type="com.ey.piit.sdo.price.vo.SkdPriceAdjustItemVo" >
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="tjdid" property="tjdid" jdbcType="VARCHAR" />
		<result column="xmlb" property="xmlb" jdbcType="VARCHAR" />
		<result column="jhdh" property="jhdh" jdbcType="VARCHAR" />
		<result column="serino" property="serino" jdbcType="VARCHAR" />
		<result column="wlbh" property="wlbh" jdbcType="VARCHAR" />
		<result column="wlms" property="wlms" jdbcType="VARCHAR" />
		<result column="wldw" property="wldw" jdbcType="VARCHAR" />
		<result column="dj" property="dj" jdbcType="DECIMAL" />
		<result column="tzdj" property="tzdj" jdbcType="DECIMAL" />
		<result column="sl" property="sl" jdbcType="DECIMAL" />
		<result column="jhsl" property="jhsl" jdbcType="DECIMAL" />
		<result column="je" property="je" jdbcType="DECIMAL" />
		<result column="tzje" property="tzje" jdbcType="DECIMAL" />
		<result column="jgdw" property="jgdw" jdbcType="DECIMAL" />
		<result column="bz" property="bz" jdbcType="VARCHAR" />
	</resultMap>

	<insert id="callInsert" parameterType="Map" statementType="CALLABLE">
		<!-- 当参数类型为IN OUT时，mode=OUT -->
		{call PKG_SKD_PRICE_ADJUST.P_SAVE_ITEM(
			#{vo.id,jdbcType=VARCHAR,mode=IN},
			#{vo.tjdid,jdbcType=VARCHAR,mode=IN},
			#{vo.xmlb,jdbcType=VARCHAR,mode=IN},
			#{vo.jhdh,jdbcType=VARCHAR,mode=IN},
			#{vo.serino,jdbcType=DECIMAL,mode=IN},
			#{vo.wlbh,jdbcType=VARCHAR,mode=IN},
			#{vo.wlms,jdbcType=VARCHAR,mode=IN},
			#{vo.wldw,jdbcType=VARCHAR,mode=IN},
			#{vo.dj,jdbcType=DECIMAL,mode=IN},
			#{vo.tzdj,jdbcType=DECIMAL,mode=IN},
			#{vo.sl,jdbcType=DECIMAL,mode=IN},
			#{vo.je,jdbcType=DECIMAL,mode=IN},
			#{vo.tzje,jdbcType=DECIMAL,mode=IN},
			#{vo.jgdw,jdbcType=DECIMAL,mode=IN},
			#{vo.bz,jdbcType=VARCHAR,mode=IN},
			#{resultCode,jdbcType=VARCHAR,mode=OUT},
			#{resultMsg,jdbcType=VARCHAR,mode=OUT}
		)}
	</insert>
	
	<!--===============================================自动生成分隔线===============================================-->
	
</mapper>