<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ey.piit.sdo.pso.repository.PsoExhibitionDao">

	<resultMap id="baseResultMap" type="com.ey.piit.sdo.pso.vo.PsoExhibitionVo" >
	
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="yzhdh" property="yzhdh" jdbcType="VARCHAR" />
		<result column="bbh" property="bbh" jdbcType="DECIMAL" />
		<result column="spmc" property="spmc" jdbcType="VARCHAR" />
		<result column="yjly" property="yjly" jdbcType="VARCHAR" />
		<result column="jixing" property="jixing" jdbcType="VARCHAR" />
		<result column="sl" property="sl" jdbcType="DECIMAL" />
		<result column="bz" property="bz" jdbcType="VARCHAR" />
		<result column="dj" property="dj" jdbcType="DECIMAL" />
		<result column="je" property="je" jdbcType="DECIMAL" />
	    <result column="bzxx" property="bzxx" jdbcType="VARCHAR" />
	</resultMap>
	 <insert id="callInsert" parameterType="Map" statementType="CALLABLE">
		<!-- 当参数类型为IN OUT时，mode=OUT -->
		{call PKG_PSO.P_SAVE_EXHIBITION(
			#{vo.id,jdbcType=VARCHAR,mode=IN},
			#{vo.yzhdh,jdbcType=VARCHAR,mode=IN},
			#{vo.bbh,jdbcType=DECIMAL,mode=IN},
		    #{vo.spmc,jdbcType=DECIMAL,mode=IN},
			#{vo.yjly,jdbcType=VARCHAR,mode=IN},
			#{vo.jixing,jdbcType=VARCHAR,mode=IN},
			#{vo.sl,jdbcType=DECIMAL,mode=IN},
			#{vo.bz,jdbcType=VARCHAR,mode=IN},
			#{vo.dj,jdbcType=DECIMAL,mode=IN},
			#{vo.je,jdbcType=DECIMAL,mode=IN},
			#{vo.bzxx,jdbcType=VARCHAR,mode=IN},
			#{resultCode,jdbcType=VARCHAR,mode=OUT},
			#{resultMsg,jdbcType=VARCHAR,mode=OUT}
		)}
	</insert>
	<!--===============================================自动生成分隔线===============================================-->
	
</mapper>