<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ey.piit.sdo.pub.repository.PubDataDao">
	<select id="callSelectDhdd" parameterType="Map" statementType="CALLABLE">
		{call PKG_PUB.P_QRY_DHDD(
		#{vo.ddid,jdbcType=VARCHAR,mode=IN},
		#{vo.gsbm,jdbcType=VARCHAR,mode=IN},
		#{vo.ddlb,jdbcType=VARCHAR,mode=IN},
		#{vo.ywlx,jdbcType=VARCHAR,mode=IN},
		#{vo.xsymc,jdbcType=VARCHAR,mode=IN},
		#{vo.khmc,jdbcType=VARCHAR,mode=IN},
		#{vo.zdrid,jdbcType=VARCHAR,mode=IN},
		#{vo.pid,jdbcType=VARCHAR,mode=IN},
		#{vo.jixin,jdbcType=VARCHAR,mode=IN},
		#{vo.wsxh,jdbcType=VARCHAR,mode=IN},
		#{vo.zt,jdbcType=INTEGER,mode=IN},
		#{page.page,jdbcType=INTEGER,mode=IN},
		#{page.rows,jdbcType=INTEGER,mode=IN},
		#{page.sidx,jdbcType=VARCHAR,mode=IN},
		#{page.sord,jdbcType=VARCHAR,mode=IN},
		#{total,jdbcType=INTEGER,mode=OUT},
		#{list,jdbcType=CURSOR,mode=OUT,javaType=ResultSet,resultMap=com.ey.piit.sdo.order.repository.OrderProductDao.baseResultMap})
		}
	</select>
	
	<select id="callCheckwl" parameterType="Map" statementType="CALLABLE">
		{call PKG_PUB.P_CHECK_WLBMS(
		    #{wlbms,jdbcType=CLOB,mode=IN},
		    #{resultCode,jdbcType=VARCHAR,mode=OUT},
			#{resultMsg,jdbcType=VARCHAR,mode=OUT}
		)}
	</select>
	
</mapper>