<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ey.piit.sdo.order.repository.OrderReferPiDao">

	<resultMap id="baseResultMap" type="com.ey.piit.sdo.order.vo.OrderReferPiVo" >	
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="ddid" property="ddid" jdbcType="VARCHAR" />
		<result column="bbh" property="bbh" jdbcType="DECIMAL" />
		<result column="piid" property="piid" jdbcType="VARCHAR" />
		<result column="pilx" property="pilx" jdbcType="VARCHAR" />
		<result column="piitemid" property="piitemid" jdbcType="VARCHAR" />
		<result column="khbm" property="khbm" jdbcType="VARCHAR" />
		<result column="pilxmc" property="pilxmc" jdbcType="VARCHAR" />
		<result column="khmc" property="khmc" jdbcType="VARCHAR" />
		<result column="bz" property="bz" jdbcType="VARCHAR" />
		<result column="mxlx" property="mxlx" jdbcType="VARCHAR" />
		<result column="mxlxmc" property="mxlxmc" jdbcType="VARCHAR" />
		<result column="pid" property="pid" jdbcType="VARCHAR" />
		<result column="gsbm" property="gsbm" jdbcType="VARCHAR" />
		<result column="gsmc" property="gsmc" jdbcType="VARCHAR" />
		<result column="khxhms" property="khxhms" jdbcType="VARCHAR" />
		<result column="xszz" property="xszz" jdbcType="VARCHAR" />
		<result column="wlbh" property="wlbh" jdbcType="VARCHAR" />
		<result column="sl" property="sl" jdbcType="DECIMAL" />
		<result column="jixin" property="jixin" jdbcType="VARCHAR" />
		<result column="xszzmc" property="xszzmc" jdbcType="VARCHAR" />
		<result column="xsyid" property="xsyid" jdbcType="VARCHAR" />
		<result column="xsymc" property="xsymc" jdbcType="VARCHAR" />
		<result column="gjmytk" property="gjmytk" jdbcType="VARCHAR" />
		<result column="gjmytkmc" property="gjmytkmc" jdbcType="VARCHAR" />
		<result column="gjmytkbz" property="gjmytkbz" jdbcType="VARCHAR" />
		<result column="zhfs" property="zhfs" jdbcType="VARCHAR" />
		<result column="zhfsmc" property="zhfsmc" jdbcType="VARCHAR" />
		<result column="cylx" property="cylx" jdbcType="VARCHAR" />
		<result column="cylxmc" property="cylxmc" jdbcType="VARCHAR" />
		<result column="zdrid" property="zdrid" jdbcType="VARCHAR" />
		<result column="zdrmc" property="zdrmc" jdbcType="VARCHAR" />
		<result column="jixing" property="jixing" jdbcType="VARCHAR" />
		<result column="piyxq" property="piyxq" jdbcType="TIMESTAMP" />
		<result column="wllx" property="wllx" jdbcType="VARCHAR" />
		<result column="wllxmc" property="wllxmc" jdbcType="VARCHAR" />
		<result column="wlms" property="wlms" jdbcType="VARCHAR" />
		<result column="dw" property="dw" jdbcType="VARCHAR" />
		<result column="dj" property="dj" jdbcType="DECIMAL" />
		<result column="yxdsl" property="yxdsl" jdbcType="DECIMAL" />
		<result column="spzsl" property="spzsl" jdbcType="DECIMAL" />
		<result column="ywz" property="ywz" jdbcType="VARCHAR" />
		<result column="ywzmc" property="ywzmc" jdbcType="VARCHAR" />
		<result column="ckddh" property="ckddh" jdbcType="VARCHAR" />
		<result column="yzhsl" property="yzhsl" jdbcType="DECIMAL" />
		<result column="pisl" property="pisl" jdbcType="DECIMAL" />
		<result column="mfsl" property="mfsl" jdbcType="DECIMAL" />
		<result column="beginZdsj" property="beginZdsj" jdbcType="VARCHAR" />
	    <result column="endZdsj" property="endZdsj" jdbcType="VARCHAR" />
		<result column="scjd" property="scjd" jdbcType="VARCHAR" />
	    <result column="scjdmc" property="scjdmc" jdbcType="VARCHAR" />
	    <result column="ks" property="ks" jdbcType="VARCHAR" />
	    <result column="ksmc" property="ksmc" jdbcType="VARCHAR" />
	    <result column="model" property="model" jdbcType="VARCHAR" />
	    <result column="khxh" property="khxh" jdbcType="VARCHAR" />
	    <result column="pilb" property="pilb" jdbcType="VARCHAR" />
	    <result column="pilbmc" property="pilbmc" jdbcType="VARCHAR" />
	    <result column="sf_bd" property="sfBd" jdbcType="DECIMAL" />
	    <result column="yjsl" property="yjsl" jdbcType="DECIMAL" />
	</resultMap>
	
	<select id="callSelectSPO" parameterType="Map" statementType="CALLABLE">
		{call PKG_ORDER_REFER_PI.P_QRY_SPO(
			#{vo.ddid,jdbcType=VARCHAR,mode=IN},
			#{vo.piid,jdbcType=VARCHAR,mode=IN},
			#{vo.gsbm,jdbcType=VARCHAR,mode=IN},
			#{vo.pilx,jdbcType=VARCHAR,mode=IN},
			#{vo.khmc,jdbcType=VARCHAR,mode=IN},
			#{vo.beginZdsj,jdbcType=VARCHAR,mode=IN},
			#{vo.endZdsj,jdbcType=VARCHAR,mode=IN},
			#{userId,jdbcType=VARCHAR,mode=IN},
			#{sfXsy,jdbcType=DECIMAL,mode=IN},
			#{bmIds,jdbcType=VARCHAR,mode=IN},
			#{page.page,jdbcType=INTEGER,mode=IN},
			#{page.rows,jdbcType=INTEGER,mode=IN},
			#{page.sidx,jdbcType=VARCHAR,mode=IN},
			#{page.sord,jdbcType=VARCHAR,mode=IN},
			#{total,jdbcType=INTEGER,mode=OUT},
			#{list,jdbcType=CURSOR,mode=OUT,javaType=ResultSet,resultMap=com.ey.piit.sdo.order.repository.OrderReferPiDao.baseResultMap})
		}
	</select>
	<select id="callSelectOrder" parameterType="Map" statementType="CALLABLE">
		{call PKG_ORDER_REFER_PI.P_QRY_PRODUCT(
			#{vo.ddid,jdbcType=VARCHAR,mode=IN},
			#{vo.piid,jdbcType=VARCHAR,mode=IN},
			#{vo.gsbm,jdbcType=VARCHAR,mode=IN},
			#{vo.khmc,jdbcType=VARCHAR,mode=IN},
			#{vo.jixing,jdbcType=VARCHAR,mode=IN},
			#{vo.zdrmc,jdbcType=VARCHAR,mode=IN},
			#{vo.beginZdsj,jdbcType=VARCHAR,mode=IN},
			#{vo.endZdsj,jdbcType=VARCHAR,mode=IN},
			#{userId,jdbcType=VARCHAR,mode=IN},
			#{sfXsy,jdbcType=DECIMAL,mode=IN},
			#{bmIds,jdbcType=VARCHAR,mode=IN},
			#{page.page,jdbcType=INTEGER,mode=IN},
			#{page.rows,jdbcType=INTEGER,mode=IN},
			#{page.sidx,jdbcType=VARCHAR,mode=IN},
			#{page.sord,jdbcType=VARCHAR,mode=IN},
			#{total,jdbcType=INTEGER,mode=OUT},
			#{list,jdbcType=CURSOR,mode=OUT,javaType=ResultSet,resultMap=com.ey.piit.sdo.order.repository.OrderReferPiDao.baseResultMap})
		}
	</select>
	<select id="callSelectSample" parameterType="Map" statementType="CALLABLE">
		{call PKG_ORDER_REFER_PI.P_QRY_SAMPLE(
			#{vo.ddid,jdbcType=VARCHAR,mode=IN},
			#{vo.piid,jdbcType=VARCHAR,mode=IN},
			#{vo.gsbm,jdbcType=VARCHAR,mode=IN},
			#{vo.khmc,jdbcType=VARCHAR,mode=IN},
			#{vo.beginZdsj,jdbcType=VARCHAR,mode=IN},
			#{vo.endZdsj,jdbcType=VARCHAR,mode=IN},
			#{userId,jdbcType=VARCHAR,mode=IN},
			#{sfXsy,jdbcType=DECIMAL,mode=IN},
			#{bmIds,jdbcType=VARCHAR,mode=IN},
			#{page.page,jdbcType=INTEGER,mode=IN},
			#{page.rows,jdbcType=INTEGER,mode=IN},
			#{page.sidx,jdbcType=VARCHAR,mode=IN},
			#{page.sord,jdbcType=VARCHAR,mode=IN},
			#{total,jdbcType=INTEGER,mode=OUT},
			#{list,jdbcType=CURSOR,mode=OUT,javaType=ResultSet,resultMap=com.ey.piit.sdo.order.repository.OrderReferPiDao.baseResultMap})
		}
	</select>	
	<select id="callSelectDiversity" parameterType="Map" statementType="CALLABLE">
		{call PKG_ORDER_REFER_PI.P_QRY_DIVERSITY(
			#{vo.ddid,jdbcType=VARCHAR,mode=IN},
			#{vo.piid,jdbcType=VARCHAR,mode=IN},
			#{vo.gsbm,jdbcType=VARCHAR,mode=IN},
			#{vo.khmc,jdbcType=VARCHAR,mode=IN},
			#{vo.jixing,jdbcType=VARCHAR,mode=IN},
			#{vo.zdrmc,jdbcType=VARCHAR,mode=IN},
			#{vo.beginZdsj,jdbcType=VARCHAR,mode=IN},
			#{vo.endZdsj,jdbcType=VARCHAR,mode=IN},
			#{userId,jdbcType=VARCHAR,mode=IN},
			#{sfXsy,jdbcType=DECIMAL,mode=IN},
			#{bmIds,jdbcType=VARCHAR,mode=IN},
			#{page.page,jdbcType=INTEGER,mode=IN},
			#{page.rows,jdbcType=INTEGER,mode=IN},
			#{page.sidx,jdbcType=VARCHAR,mode=IN},
			#{page.sord,jdbcType=VARCHAR,mode=IN},
			#{total,jdbcType=INTEGER,mode=OUT},
			#{list,jdbcType=CURSOR,mode=OUT,javaType=ResultSet,resultMap=com.ey.piit.sdo.order.repository.OrderReferPiDao.baseResultMap})
		}
	</select>	
	<select id="callSelectFy" parameterType="Map" statementType="CALLABLE">
		{call PKG_ORDER_REFER_PI.P_QRY_FY(
			#{vo.ddid,jdbcType=VARCHAR,mode=IN},
			#{vo.piid,jdbcType=VARCHAR,mode=IN},
			#{vo.gsbm,jdbcType=VARCHAR,mode=IN},
			#{vo.khmc,jdbcType=VARCHAR,mode=IN},
			#{vo.jixing,jdbcType=VARCHAR,mode=IN},
			#{vo.zdrmc,jdbcType=VARCHAR,mode=IN},
			#{vo.beginZdsj,jdbcType=VARCHAR,mode=IN},
			#{vo.endZdsj,jdbcType=VARCHAR,mode=IN},
			#{userId,jdbcType=VARCHAR,mode=IN},
			#{sfXsy,jdbcType=DECIMAL,mode=IN},
			#{bmIds,jdbcType=VARCHAR,mode=IN},
			#{page.page,jdbcType=INTEGER,mode=IN},
			#{page.rows,jdbcType=INTEGER,mode=IN},
			#{page.sidx,jdbcType=VARCHAR,mode=IN},
			#{page.sord,jdbcType=VARCHAR,mode=IN},
			#{total,jdbcType=INTEGER,mode=OUT},
			#{list,jdbcType=CURSOR,mode=OUT,javaType=ResultSet,resultMap=com.ey.piit.sdo.order.repository.OrderReferPiDao.baseResultMap})
		}
	</select>
    <select id="callSelectByPIId" parameterType="Map" statementType="CALLABLE">
		{call PKG_ORDER_REFER_PI.P_QRY_SPO_PIID(
			#{piid,jdbcType=VARCHAR,mode=IN},
			#{wlList,jdbcType=CURSOR,mode=OUT,javaType=ResultSet,resultMap=com.ey.piit.sdo.order.repository.OrderReferPiDao.baseResultMap})
		}
	</select>
	
	<insert id="callInsert" parameterType="Map" statementType="CALLABLE">
		<!-- 当参数类型为IN OUT时，mode=OUT -->
		{call PKG_ORDER_PRODUCT.P_SAVE_ORDER_PI(
			#{vo.id,jdbcType=VARCHAR,mode=IN},
			#{vo.ddid,jdbcType=VARCHAR,mode=IN},
			#{vo.bbh,jdbcType=INTEGER,mode=IN},
			#{vo.piid,jdbcType=VARCHAR,mode=IN},
			#{vo.pilx,jdbcType=VARCHAR,mode=IN},
			#{vo.pilxmc,jdbcType=VARCHAR,mode=IN},
			#{vo.piitemid,jdbcType=VARCHAR,mode=IN},
			#{vo.mxlx,jdbcType=VARCHAR,mode=IN},
			#{vo.mxlxmc,jdbcType=VARCHAR,mode=IN},
			#{vo.jixing,jdbcType=VARCHAR,mode=IN},
			#{vo.jixin,jdbcType=VARCHAR,mode=IN},
			#{vo.khxhms,jdbcType=VARCHAR,mode=IN},
			#{vo.bz,jdbcType=VARCHAR,mode=IN},
			#{vo.pid,jdbcType=VARCHAR,mode=IN},
			#{vo.wlbh,jdbcType=VARCHAR,mode=IN},
			#{vo.dw,jdbcType=VARCHAR,mode=IN},
			#{vo.dj,jdbcType=DECIMAL,mode=IN},
			#{vo.sl,jdbcType=DECIMAL,mode=IN},
			#{vo.yjsl ,jdbcType= DECIMAL ,mode= IN },
			#{vo.je,jdbcType=DECIMAL,mode=IN},
			#{resultCode,jdbcType=VARCHAR,mode=OUT},
			#{resultMsg,jdbcType=VARCHAR,mode=OUT}
		)}
	</insert>
	
	<!--===============================================自动生成分隔线===============================================-->
	
</mapper>