<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ey.piit.sdo.saprebate.repository.ExpensesApplyDao"> 
	<resultMap id="baseResultMap" type="com.ey.piit.sdo.saprebate.vo.ExpensesApplyVo" >
	    <result column="id" property="id" jdbcType="VARCHAR" />
	    <result column="bukrs" property="bukrs" jdbcType="VARCHAR" />
		<result column="zfynm" property="zfynm" jdbcType="VARCHAR" />
		<result column="zstau" property="zstau" jdbcType="VARCHAR" />
		<result column="zappm" property="zappm" jdbcType="VARCHAR" />
		<result column="ztele" property="ztele" jdbcType="VARCHAR" />
		<result column="zsalm" property="zsalm" jdbcType="VARCHAR" />
		<result column="zsalmms" property="zsalmms" jdbcType="VARCHAR" />
		<result column="zreas" property="zreas" jdbcType="VARCHAR" />
		<result column="zetyp" property="zetyp" jdbcType="VARCHAR" />
		<result column="zetypms" property="zetypms" jdbcType="VARCHAR" />
		<result column="zaamt" property="zaamt" jdbcType="DECIMAL" />
		<result column="waers" property="waers" jdbcType="VARCHAR" />
		<result column="rmbje" property="rmbje" jdbcType="DECIMAL" />
		<result column="zrece" property="zrece" jdbcType="VARCHAR" />
		<result column="pzhslr" property="pzhslr" jdbcType="VARCHAR" />
		<result column="zbelo" property="zbelo" jdbcType="VARCHAR" />
		<result column="zbeloms" property="zbeloms" jdbcType="VARCHAR" />
		<result column="zdepa" property="zdepa" jdbcType="VARCHAR" />
		<result column="zdepams" property="zdepams" jdbcType="VARCHAR" />
		<result column="zedes" property="zedes" jdbcType="VARCHAR" />
		<result column="zybln" property="zybln" jdbcType="VARCHAR" />
		<result column="zbuze" property="zbuze" jdbcType="DECIMAL" />
		<result column="zyamt" property="zyamt" jdbcType="DECIMAL" />
		<result column="userid" property="userid" jdbcType="VARCHAR" />
		<result column="cpudt" property="cpudt" jdbcType="TIMESTAMP" />
		<result column="cputm" property="cputm" jdbcType="TIMESTAMP" />
		<result column="zspcd" property="zspcd" jdbcType="VARCHAR" />
		
	</resultMap>
    
	<select id="callSelectExpApplyById" parameterType="Map" statementType="CALLABLE">
		{call PKG_SAP_APPROVE_FLOW.P_QRY_EXPENSES_BYID(
			#{id,jdbcType=VARCHAR,mode=IN},
			#{list,jdbcType=CURSOR,mode=OUT,javaType=ResultSet,resultMap=com.ey.piit.sdo.saprebate.repository.TitleDao.baseResultMap},
			#{itemList,jdbcType=CURSOR,mode=OUT,javaType=ResultSet,resultMap=com.ey.piit.sdo.saprebate.repository.ExpensesApplyDao.baseResultMap},
			#{logList,jdbcType=CURSOR,mode=OUT,javaType=ResultSet,resultMap=com.ey.piit.sdo.sapspecial.repository.SapSpecialOrderDao.logResultMap}
		)}
	</select>
	
	<select id="callApproveItem" parameterType="Map" statementType="CALLABLE">
		{call PKG_SAP_APPROVE_FLOW.P_REBATE_EXP_ITEM_APPROVE(
			#{vo.approveType,jdbcType=VARCHAR,mode=IN},
			#{vo.id,jdbcType=VARCHAR,mode=IN},
			#{resultCode,jdbcType=VARCHAR,mode=OUT},
			#{resultMsg,jdbcType=VARCHAR,mode=OUT}
		)}
	</select>
	
	<!--===============================================自动生成分隔线===============================================-->
	
</mapper>